/* App Root */
body, #app-mount, [class$="-app"], .theme-dark[class*="-bg"], .theme-light[class*="-bg"] 
/* Sidebar */
.theme-light[class*="-guilds"], .theme-dark[class*="-guilds"], [class$="-itemsContainer"],
/* Sidebar DMs List */
[class$="-privateChannels"], [data-list-id^="private-channels-"][class*="-scroller"],
/* -Sidebar Channels List */
[class$="-sidebarListRounded"]>[class*="-container"]
{ background: transparent !important; }
/* No Channels Page */
[class$="-noChannel"] 
{ background: var(--background-gradient-chat,var(--background-base-lower)); }
