body, .appMount__51fd7, .app__160d8, .wrapper_ef3116, .bg__960e4, /* App Background */
.footer__214dc, .sidebar_c48ade, .privateChannels__35e86, .container__2637a, .scroller__99e7c, .custom-theme-background .itemsContainer_ef3116, .panels_c48ade, /* Sidebar */
.visual-refresh .sidebar_c48ade:after, /* Sidebar - Refresh */
.layer__960e4, .sidebarRegionScroller__23e6b, .standardSidebarView__23e6b, .layer__960e4  /* Settings */ 
{ background: transparent !important; }

.container__37e49 /* User Area */
{ border-top-left-radius: 10px !important; }

.visual-refresh .panels_c48ade /* User Area - Refresh */ {
  background: var(--bg-overlay-floating,var(--background-base-low)) !important;
}

.container_e131a9 /* VC Panel */
{ border-bottom: unset;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important; } 


.noChannel__01d5c /* No Channels Page */
{ background: var(--bg-overlay-chat, var(--background-primary)); }
